IMPLEMENT K-NN from Scratch 

The test problem we will be using in this tutorial is the iris classification.

The problem is comprised of 150 observations of iris flowers from three different species. There are 4 measurements of given flowers: sepal length, sepal width, petal length and petal width, all in the same unit of centimeters. The predicted attribute is the species, which is one of setosa, versicolor or virginica.

It is a standard dataset where the species is known for all instances. As such we can split the data into training and test datasets and use the results to evaluate our algorithm implementation. Good classification accuracy on this problem is above 90% correct, typically 96% or better.


Save the file in your current working directory with the file name “iris.data“.

# 1. Handle Data

The first thing we need to do is load our data file.

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns

In [2]:
df = pd.read_csv (r"iris.data.csv",header=None, names=['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width', 'Species'], sep=",")

In [3]:
lines=pd.DataFrame(df)
lines

     Sepal Length  Sepal Width  Petal Length  Petal Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
lines.tail()

     Sepal Length  Sepal Width  Petal Length  Petal Width         Species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [5]:
lines.info()
lines.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal Length  150 non-null    float64
 1   Sepal Width   150 non-null    float64
 2   Petal Length  150 non-null    float64
 3   Petal Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

       Sepal Length  Sepal Width  Petal Length  Petal Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
lines ['Species']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [7]:
lines['Species'] .describe()

count                 150
unique                  3
top       Iris-versicolor
freq                   50
Name: Species, dtype: object

In [8]:
lines.isnull().sum()

Sepal Length    0
Sepal Width     0
Petal Length    0
Petal Width     0
Species         0
dtype: int64

In [9]:
for row in lines :
    print (', '.join(row))

S, e, p, a, l,  , L, e, n, g, t, h
S, e, p, a, l,  , W, i, d, t, h
P, e, t, a, l,  , L, e, n, g, t, h
P, e, t, a, l,  , W, i, d, t, h
S, p, e, c, i, e, s

# split the data into a training datase

In [10]:
import csv
import random
import math
import operator

In [11]:
def loadDataset(filename, split, trainingSet=[] , testSet=[]):
    with open(filename, 'r') as csvfile:
        lines = csv.reader(csvfile)
        df = list(lines)
        for x in range(len(df)):
            for y in range(4):
                df[x][y] = float(df[x][y])
            if random.random() < split:
                trainingSet.append(df[x])
            else:
                testSet.append(df[x])

We can test this function out with our iris dataset, as follows:

trainingSet=[]
testSet=[]
loadDataset('iris.data', 0.66, trainingSet, testSet)
print ('Train: ' + repr(len(trainingSet)))
print ('Test: ' + repr(len(testSet)) )

In [12]:
def loadDataset(filename, split, trainingSet=[] , testSet=[]):
    with open('iris.data', 'r') as csvfile:
        lines = csv.reader(csvfile)
        df = list(lines)
        for x in range(len(df)):
            for y in range(4):
                df[x][y] = float(df[x][y])
            if random.random() < 0.66:
                [].append(df[x])
            else:
                testSet.append(df[x])

In [13]:
trainingSet=[] 
testSet=[]
print ('Train: ' + repr(len(trainingSet))) 
print ('Test: ' + repr(len(testSet)) )

Train: 0
Test: 0

# Similarity

In order to make predictions we need to calculate the similarity between any two given data instances. This is needed so that we can locate the k most similar data instances in the training dataset for a given member of the test dataset and in turn make a prediction.

Given that all four flower measurements are numeric and have the same units, we can directly use the Euclidean distance measure. 

Additionally, we want to control which fields to include in the distance calculation. Specifically, we only want to include the first 4 attributes. One approach is to limit the Euclidean distance to a fixed length, ignoring the final dimension.

Putting all of this together, you have to define the euclidean distance


import math

def euclideanDistance(instance1, instance2, length):

            Complete the function

In [14]:
def euclideanDistance(instance1, instance2, length):
    distance = 0
    for x in range(length):
        distance += pow((instance1[x] - instance2[x]), 2)
    return math.sqrt(distance)

We can test this function with some sample data, as follows:

data1 = [2, 2, 2, 'a']
data2 = [4, 4, 4, 'b']
distance = euclideanDistance(data1, data2, 3)
print 'Distance: ' + repr(distance)

In [15]:
def euclideanDistance(instance1, instance2, length):
    distance = 0
    for x in range(length):
        distance += pow(([2, 2, 2, 'a'][x] - [4, 4, 4, 'b'][x]), 2)
    return math.sqrt(distance)

In [16]:
data1 = [2, 2, 2, 'a']
data2 = [4, 4, 4, 'b']
distance = euclideanDistance(data1, data2, 3)
print ('Distance: ' + repr(distance))

Distance: 3.4641016151377544

# Neighbors
Now that we have a similarity measure, we can use it to collect the k most similar instances for a given unseen instance.

This is a straight forward process of calculating the distance for all instances and selecting a subset with the smallest distance values.

Below is the getNeighbors function that returns k most similar neighbors from the training set for a given test instance (using the already defined euclideanDistance function)

In [17]:
import operator

def getNeighbors(trainingSet, testInstance, k):
    distances = []
    length = len(testInstance)-1
    for x in range(len(trainingSet)):
        dist = euclideanDistance(testInstance, trainingSet[x], length)
        distances.append((trainingSet[x], dist))
        distances.sort(key=operator.itemgetter(1))
        neighbors = []
        for x in range(k):
            neighbors.append(distances[x][0])
            return neighbors

We can test out this function as follows:

trainSet = [[2, 2, 2, 'a'], [4, 4, 4, 'b']]

testInstance = [5, 5, 5]

k = 1

neighbors = getNeighbors(trainSet, testInstance, 1)

print(neighbors)

In [18]:
def getNeighbors(trainingSet, testInstance, k):
    distances = []
    length = len(testInstance)-1
    for x in range(len( [[2, 2, 2, 'a'], [4, 4, 4, 'b']])):
        dist = euclideanDistance([5, 5, 5],  [[2, 2, 2, 'a'], [4, 4, 4, 'b']][x], length)
        distances.append(( [[2, 2, 2, 'a'], [4, 4, 4, 'b']][x], dist))
        distances.sort(key=operator.itemgetter(1))
        neighbors = []
        for x in range(1):
            neighbors.append(distances[x][0])
            return neighbors

In [19]:
neighbors = getNeighbors([[2, 2, 2, 'a'], [4, 4, 4, 'b']], [5, 5, 5], 1)
print(neighbors)

[[2, 2, 2, 'a']]

# Response

Once we have located the most similar neighbors for a test instance, the next task is to devise a predicted response based on those neighbors.

We can do this by allowing each neighbor to vote for their class attribute, and take the majority vote as the prediction.

Below provides a function for getting the majority voted response from a number of neighbors. It assumes the class is the last attribute for each neighbor.



import operator

def getResponse(neighbors):

	classVotes = {}

	for x in range(len(neighbors)):

		response = neighbors[x][ ? ] %complete with appropriate number

		if response in classVotes:

			Complete the if clause			

	sortedVotes = sorted(classVotes.iteritems(), key=operator.itemgetter(1), reverse=True)

	return sortedVotes[0][0]

In [20]:
def getResponse(neighbors):
    classVotes = {}
    for x in range(len(neighbors)):
        response = neighbors[x][-1]
        if response in classVotes:
            classVotes[response] += 1
        else:
            classVotes[response] = 1
    sortedVotes = sorted(classVotes.items(), key=operator.itemgetter(1), reverse=True)
    return sortedVotes[0][0]

We can test out this function with some test neighbors, as follows:

neighbors = [[1,1,1,'a'], [2,2,2,'a'], [3,3,3,'b']]

response = getResponse(neighbors)

print(response)

In [21]:
def getResponse(neighbors):
    classVotes = {}
    for x in range(len( [[1,1,1,'a'], [2,2,2,'a'], [3,3,3,'b']])):
        response =  [[1,1,1,'a'], [2,2,2,'a'], [3,3,3,'b']][x][-1]
        if response in classVotes:
            classVotes[response] += 1
        else:
            classVotes[response] = 1
    sortedVotes = sorted(classVotes.items(), key=operator.itemgetter(1), reverse=True)
    return sortedVotes[0][0]   
response = getResponse('neighbors')
print(response)

a

# Accuracy

We have all of the pieces of the kNN algorithm in place. An important remaining concern is how to evaluate the accuracy of predictions.

An easy way to evaluate the accuracy of the model is to calculate a ratio of the total correct predictions out of all predictions made, called the classification accuracy.

Below is the getAccuracy function that sums the total correct predictions and returns the accuracy as a percentage of correct classifications.

def getAccuracy(testSet, predictions):

	Complete the function

	return (correct/float(len(testSet))) * 100.0

We can test this function with a test dataset and predictions, as follows:

testSet = [[1,1,1,'a'], [2,2,2,'a'], [3,3,3,'b']]
predictions = ['a', 'a', 'a']
accuracy = getAccuracy(testSet, predictions)
print(accuracy)

In [22]:
def getAccuracy(testSet, predictions):
    correct = 0
    for x in range(len(testSet)):
        if testSet[x][-1] is predictions[x]:
            correct += 1
    return (correct/float(len(testSet))) * 100.0

In [23]:
def getAccuracy(testSet, predictions):
    correct = 0
    for x in range(len([[1,1,1,'a'], [2,2,2,'a'], [3,3,3,'b']])):
        if [[1,1,1,'a'], [2,2,2,'a'], [3,3,3,'b']][x][-1] is ['a', 'a', 'a'][x]:
            correct += 1
    return (correct/float(len(testSet))) * 100.0   
accuracy = getAccuracy('testSet', 'predictions')
print(accuracy)

28.57142857142857